openapi: 3.1.0
info:
  title: Adapter Adapter API support API
  version: 0.1.0
tags:
- name: support
paths:
  /support:
    post:
      tags:
      - support
      summary: Support
      description: Submit user feedback and optionally notify external services
      operationId: support_support_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSupportReqeust'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    UserSupportReqeust:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: UserSupportReqeust
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBasic:
      type: http
      scheme: basic
    HTTPBearer:
      type: http
      scheme: bearer
servers:
- url: https://api.adapter.com
  description: Base URL reconciled from apis.yml
